.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: var(--mobile-width);

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 26px;
	line-height: 1.875;
	text-align: center;
	text-transform: uppercase;
}

.wrapper__background {
	display: flex;
	align-items: center;
	min-width: var(--mobile-width);

	height: 480px;
	width: 400px;
	background: var(--third-background);
	color: #ffffff;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url('./../images/index_img/background-title-mobile-1x.jpg');
	background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.wrapper__background {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url('./../images/index_img/background-title-mobile-2x@2x.jpg');
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 4px;
	border-color: white;
	width: 200px;
	height: 50px;
	margin-top: 30px;

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;

	color: #000;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--blue-color);
		border-color: var(--blue-color);
		color: #ffffff;
		transition-duration: var(--transition-duration);
		transition-timing-function: var(--cubic-bezier);
	}
}

@media (min-width: 768px) {
	.wrapper {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		font-size: 26px;
		line-height: 1.615;
		text-align: center;
		text-transform: uppercase;
		max-width: var(--tablet-width);
	}

	.wrapper .btn {
		display: flex;
		align-items: center;
		text-align: center;

		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.875;
	}

	.wrapper__background {
		min-width: var(--tablet-width);
		width: 400px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url('./../images/index_img/background-title-tablet-1x.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.wrapper__background {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url('./../images/index_img/background-title-tablet-2x@2x.jpg');
		}
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: var(--desktop-width);
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.36;
		text-align: center;
		text-transform: uppercase;
	}

	.wrapper .btn {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.875;
		display: flex;
		align-items: center;
		text-align: center;
	}

	.wrapper__background {
		min-width: var(--desktop-width);
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url('./../images/index_img/background-title-desktop-1x.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.wrapper__background {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url('./../images/index_img/background-title-desktop-2x@2x.jpg');
		}
	}
}
