:root {
	--bgray-color: #212121;
	--blue-color: #2196f3;
	--gray-color: #757575;
	--background: #f5f4fa;
	--third-background: #2f303a;

	--transition-duration: 250ms;
	--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

	--mobile-width: 480px;
	--tablet-width: 768px;
	--desktop-width: 1200px;
}
